
 <div class="cocktails-header d-flex justify-content-space-around flex-row">
        <div class="cocktail-header-nav">
            <%= image_tag "cocktail.png", alt: "logo", width:70, height: 50 %>
            <%= link_to "Add cocktail", new_cocktail_path %>
        </div>
    </div>

    <div class="cocktails-banner" style="background-image:url(<%= asset_url('pexels-picography-4784.jpg')%>)">
        <div class="cocktails-banner-details" >
            <h1>Good Sip for Good Moments</h1>
            <%= link_to "View All Cocktails", cocktails_path, class:'btn btn-warning' %>
        </div>
    </div>

    <div class="container-cards d-flex justify-content-space-between">
        <div class="cocktails-card">
            <% @cocktails.each do |cocktail| %>
                <div class="card">
            
                </div>
                    <%= link_to cocktail.name, cocktail_path(cocktail) %>

                <div class="card-item">
                </div>
            <% end %>
        </div>
    </div>

